node_modules/
public/
.qodo/
azure-xhttp-relay/
*.zip
*.log
*.dpapi
*.tmp
*.bak
*.local
.azure/
.vercel/
.netlify/
AzureCLI.msi
azure-cli-msi-*.log
azure-deploy-debug-*.log
azure-deploy-transcript-*.log
*.publishsettings
